@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    position: relative;
}

header{
    background-color: #333;
    width: 100%;
    color: white;
    padding: 10px 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #444;
    padding: 20px 0;
    width: 50%;
    border-radius: 5px;
}

#nav-list{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#nav-list li{
    display: inline;
    margin: 0 20px;
}

#navbar a{
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
    font-size: large;
}

#navbar a:hover{
    background-color: #555;
    color: white;
    border-radius: 5px;
}

#main-content{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 150px;
    height: auto;
    width: 100%;
    margin-top: 100px;
}



#content{
    display: block;
    text-align: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 20px 0;
}

#content h1{
    font-size: 2.5em;
    margin: 20px 0;
}

#content p{
    font-size: 1.2em;
    margin: 20px 0;
}

#featured-courses{
    width: inherit;
    display: block;
    text-align: center;
}


#announcements-section{
    width: inherit;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#announcements-section h2{
    text-align: center;
    font-size: 2.5em;
    padding: 0 10px;
}

#announcements-container{
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 4px solid;
    box-shadow: 0 4px 8px black;
    border-radius: 10px;
    width: 600px;
    height: 400px;
}

#courses-section{
    display: flex;
    justify-content: center;
    align-self: center;
    width: inherit;
}

#featured-courses li, #announcements-section li, #courses-section li{
    list-style: none;
    text-decoration: none;
}

#featured-courses a, #announcements-section a, #courses-section a{
    color: #333;
    text-decoration: none;
    cursor: none;
}

#recent-courses-list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}


.card{
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    border: 2px solid;
    height: 400px;
    width: 600px;
    border-radius: 5px;
}

.card h2{
    text-align: center;
    font-size: 1.5em;
    padding: 0 10px;
}

.card label, .card progress{
    padding: 0 20px;
}

.card p {
    padding: 0 20px;
    display: block;
    text-align: justify;
}

progress{
    padding: 0 20px;
}

#card-header{
    width: 100%;
    height: 60px;
    background-color: #444;
}