@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    position: relative;
}

header{
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container{
    position: relative;
    display: flex;
    align-items: center;;
    flex-direction: row;
    height: 100%;
    padding: 0;
    border: 2px solid;
    margin: 0;
}

#sidebar-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    width: 15%;
    height: 100vh;
    background-color: #444;
}


#sidebar{
    position: absolute;
    top: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 10px;
    width: 100%;
    border-radius: 5px;
    gap: 20px;
    overflow: hidden;
}

#sidebar h2{
    text-align: center;
    color: white;
    font-size: 1.5em;
    margin: 0;
}

#sidebar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}
#sidebar li{
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 5px;
    width: 100%;
    border-radius: 5px;
}

#sidebar a{
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: large;
    padding: 20px;
}

#sidebar a:hover{
    background-color: #555;
    color: white;
    border-radius: 5px;
}



#navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #444;
    padding: 20px 0;
    width: 50%;
    border-radius: 5px;
}

#nav-list{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#nav-list li{
    display: inline;
    margin: 0 20px;
}

#navbar a{
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
    font-size: large;
}

#navbar a:hover{
    background-color: #555;
    color: white;
    border-radius: 5px;
}


#collapseButton{
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #444;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: large;
    cursor: pointer;
}

#collapseButton:hover{
    background-color: #555;
    color: white;
    border-radius: 5px;
}


#main-content{
    position: relative;
    top: 50px;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    border: 2px solid;
    height: auto;
    width: 100%;
    padding: 20px;
}

#content{

}
